* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
}

.header-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.header-container img {
  height: max-content;
  padding-top: 15px;
}

.header-container #humburger-icon {
  display: none;
}

.header-container #close-icon {
  display: none;
}

.header-container ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 13px;
  font-weight: 500;
  color: hsl(228, 39%, 23%);
  justify-content: center;
  padding-top: 15px;
  cursor: pointer;
}

.header-container .one:hover {
  color: hsl(227, 12%, 61%);
}

.header-container .two:hover {
  color: hsl(227, 12%, 61%);
}

.header-container .three:hover {
  color: hsl(227, 12%, 61%);
}

.header-container .four:hover {
  color: hsl(227, 12%, 61%);
}

.header-container .five:hover {
  color: hsl(227, 12%, 61%);
}

.header-container .btn {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border: none;
  padding: 15px 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px;
  box-shadow: 1px 10px 2px hsl(13, 100%, 96%);
  z-index: 2px;
  cursor: pointer;
}

.header-container .figure {
  height: 20px;
}

.header-container .figure img {
  position: absolute;
  z-index: -1;
  top: -196px;
  right: -30px;
  width: 700px;
  height: 700px;
}

.main-container {
}
.section-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.article-container {
  width: 30%;
  padding: 0px 15px;
  margin-top: 50px;
  /* margin-right: 90px; */
}

.article-container h1 {
  font-size: 35px;
  color: hsl(228, 39%, 23%);
}

.article-container p {
  font-size: 15px;
  line-height: 1.5;
  color: hsl(227, 12%, 61%);
  padding-top: 20px;
}

.article-container .btn {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border: none;
  padding: 15px 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px;
  box-shadow: 1px 10px 2px hsl(13, 100%, 96%);
  margin-top: 20px;
  cursor: pointer;
}

.section-container figure {
}

.section-container figure img {
  width: 390px;
  margin-right: 140px;
}



.section-container1 {
  display: flex;
  gap: 350px;
  margin-top: 50px;
  /* margin-left: 200px; */
}

.article-container-1 {
  /* border: 2px red solid; */
  margin-left: 107px;
  height: 200px;
  /* margin-left: 30px; */
  /* padding-right: 90px; */
}

.article-container-1 h2 {
  color: hsl(228, 39%, 23%);
  /* font-size: 20px; */
}

.article-container-1 p {
  font-size: 15px;
  line-height: 1.5;
  color: hsl(227, 12%, 61%);
  margin-top: 20px;
}

.child-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 35%;
  padding-top: 30px;
}
.article-container-2 h3 {
  font-size: 17px;
  color: hsl(228, 39%, 23%);
  margin-left: 50px;
}

.article-container-2 h3 span {
  margin-right: 21px;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border: none;
  font-size: 13px;
  font-weight: 500;
  padding: 0px 20px;
  border-radius: 10px;
  width: 20px;
}

.article-container-2 p {
  font-size: 15px;
  line-height: 1.5;
  color: hsl(227, 12%, 61%);
  margin-top: 20px;
  margin-left: 130px;
}

.section-container2 {
    border: 2px solid red;
    margin-top: 200px;
}

.slide-container {
max-width: 1120px;
width: 100%;
/* background-color: grey; */
padding: 40px 0;
}


.card {
     background-color: hsl(0, 0%, 98%); 
    width: 30%;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;

}
.slide-content {
  margin: 0 40px;
  padding: 45px 20px;
  /* background-color: red; */
}

.image-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-content {
  position: relative;
  row-gap: 5px;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: hsl(12, 88%, 59%); */
  background-color: hsl(228, 39%, 23%);;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 25px 25px 0px 25px;
}


.border {
  border: 2px solid #fff;
  border-radius: 75px;
}

.name {
  color: hsl(228, 39%, 23%);
}

.description {
  font-size: 14px;
  color: hsl(227, 12%, 61%);
  text-align: center;
}

/* .section-container2 h1 {
    text-align: center;
    margin-bottom: 90px;
    color: hsl(228, 39%, 23%);
}

.flex-container {
    display: flex;
    gap: 40px;
    /* background-color: hsl(0, 0%, 98%); */
    /* overflow-x: hidden; *
}

.section-container3 {
    /* border: 2px solid red; 
    padding: 0px 20px;
    height: 200px;
}

.space-left1 {
    background-color: hsl(0, 0%, 98%);

}

.space-left2 {
  background-color: hsl(0, 0%, 98%);
}

.space-left3 {
  background-color: hsl(0, 0%, 98%);
}

.space-left2 img {
  right: 650px;
} */


.section-container3 img {
  width: 80px;
  margin-left: 150px;
  position: absolute;
  top: 1400px;
}
.section-container3 h3 {
text-align: center;
margin-top: 50px;
color: hsl(228, 39%, 23%);
}

.section-container3 p {
  text-align: center;
  color: hsl(227, 12%, 61%);
}
.figure-container {
  position: absolute;
  top: 800px;
  right: 1000px;
}

.btn-1 {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border: none;
  padding: 15px 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px;
  box-shadow: 1px 10px 2px hsl(13, 100%, 96%);
  cursor: pointer;
  margin-top: 50px;
  margin-left: 600px;

}

.section-container4 {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  background-color: hsl(12, 88%, 59%);
  height: 200px;
}

.section-container4 h2 {
  color: hsl(0, 0%, 98%);
  font-size: 35px;
  margin-top: 65px;
  width: 35%;
}

.section-container4 .btn-2 {
  border: none;
  font-weight: 500;
  padding: 0px 30px;
  height: 40px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
  border-radius: 25px;
  margin-top: 65px;
  cursor: pointer;

}

.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: hsl(233, 12%, 13%);
}

.footer-container1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-container1 img {
  margin-top: 70px;
}


.figure-container1 {
  display: flex;
  gap: 10px;
}

.figure-container1 img:hover {
  background-color: hsl(12, 88%, 59%);
  cursor: pointer;
}

.footer-container2 {
  margin-top: 70px;
  display: flex;
  gap: 200px;
}

.div-1 .ul-class {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.div-2 .ul-class {
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.footer-container2 ul li a {
color: hsl(0, 0%, 98%);
text-decoration: none;
font-size: 15px;
display: flex;
}

.footer-container2 ul li a:hover {
  color: hsl(12, 88%, 59%);
  cursor: pointer;
}


.footer-container3 {
  margin-top: 70px;
  margin-left: 1px;
  margin-right: 1px;

}

.footer-container3 #first {
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  color: hsl(227, 12%, 61%);
  font-size: 13px;
  cursor: pointer;
  outline:none;
}

.footer-container3 #first:focus {
  border: 1px solid black;
}

.footer-container #second {
  width: 50px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-weight: 500;
  background-color: hsl(12, 88%, 59%);
  outline: none;
  cursor: pointer;
}

.footer-container3 #second:focus {
  border: 1px black solid;
}
.footer-container3 input[placholder] {
  color: #fff;
}

.footer-container3 p {
  font-size: 10px;
  color: hsl(227, 12%, 61%);
  margin-top: 40px;
  margin-left: 50px;
}




@media only screen and (max-width: 480px) {
* {
  overflow-x: hidden;
}

.btn {
  display: none;
}

.header-container {
  display: block;
  padding: 10px;
}

.header-container #humburger-icon {
  display: block;
  margin-right: 20px;
}

.header-container #close-icon {
  display: block;
  width: 30px;
}

.mobile-div {
  display: flex;
  justify-content: space-between;
}

.display {
  display: flex !important;
  transition: display  600ms ease;
}

#humburger_icon {
  /* transition: 0.3s; */
  /* transition: all 600ms ease; */
}

#nav_menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  margin: 20px 9px;
  gap: 30px;
  height: 400px;
  padding-top: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  position: fixed;
  z-index: 2;
  /* transition: 5s; */
  overflow-x: hidden;
  /* transition: all 600ms ease; */
  width: 340px;
  transition: display  600ms ease;
}

#closeIcon {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: 0.3s;
  transition: all 600ms ease;
}

#nav_menu li {
  font-weight: 700;
  color: hsl(228, 39%, 23%);
  font-size: 18px;
  cursor: pointer;
}

#nav-menu li:hover {
  color: hsl(12, 88%, 59%);
}

#first-image {
  width: 100px;
  margin-left: 20px;
}
.flex-container {
  flex-direction: column;
}

.header-container .figure img {
  /* position: absolute;
  z-index: -1;
  top: -243px;
  right: -343px;
  width: 500px;
  height: 333px;
*/
position: absolute;
top: -34px;
/* right: 89px; */
height: 500px;
left: -170px;
width: 550px;
}

.section-container {
  display: flex;
  flex-direction: column-reverse;
}

.article-container {
  width: 100%;
  /* border: 2px solid red; */
  text-align: center;
}

.article-container .btn {
  display: block;
margin-left: 95px;
margin-top: 30px;
}

.section-container1 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 90px;
}

.article-container-1 {
  height: 200px;
  margin-left: 1px;
  /* border: 2px solid red; */
  text-align: center;
}

.child-section {
  width: 100%;
}

.article-container-2 {
  text-align: left;
}

.article-container-2 h3 {
  background-color: hsl(13, 100%, 96%);
  margin-left: 15px;
  padding: 7px 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.article-container-2 h3 span  {
  margin-right: 1px;
  padding: 10px 20px;
  border-radius: 15px;
}

.article-container-2 p {
 margin: 0px 20px;
 margin-top: 10px;
 font-size: 13px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.section-container4{
  display: flex;
  flex-direction: column;
  height: max-content;
}

.section-container4 h2 {
font-size: 20px;
border: 2px solid blue;
width: 100%;
text-align: center;
}

.section-container4 .btn-2 {
  width: 20%;
}

/* .footer-container1 {
  display: flex;
  flex-direction: row;
} */

.footer-container {
  display: flex;
  flex-direction: column-reverse;
}

.footer-container1 {
  display: flex;
  flex-direction: column-reverse;
}
.figure-container1 {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 50px;
  gap: 20px;
}

 #small {
  width: 30px;
}

 .figure-container1 img {
  width: 900px;
} 

.footer-container1 img {
  margin-top: 20px;
  width: 40%;
  margin-left: 102px;
}

.footer-container2 {
  display: flex;
  gap: 102px;
  margin: 0 37px;
  /* justify-content: space-between; */
}

.footer-container3 {

}


}

